<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>home</Name>
  <Alias>home</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "spantech_master.cshtml";
}

<div id="slider">
    <div id="flexslider">
        <ul class="slides clearfix">
            <li>
                <img alt="" src="img/picture1.jpg">
                <div class="flex-caption">
                    <div class="flex-box1">
                        <p class="title1">PRECISE</p>
                        <p class="title2">AND IMPARTIAL APPROACH</p>
                    </div>
                    <div class="flex-box2">
                        <p>Mes cuml dia sed in lacus ut eniascet etor ingerto aliiqt es sitet amet eismod ictorut ligulate ameti dapibus ticdu nt</p>
                    </div>
                </div>
            </li>
            <li>
                <img alt="" src="img/picture2.jpg">
                <div class="flex-caption">
                    <div class="flex-box1">
                        <p class="title1">STABILITY</p>
                        <p class="title2">IS THE KEY TO THE FUTURE</p>
                    </div>
                    <div class="flex-box2">
                        <p>Mes cuml dia sed in lacus ut eniascet etor ingerto aliiqt es sitet amet eismod ictorut ligulate ameti dapibus ticdu nt</p>
                    </div>
                </div>
            </li>
            <li>
                <img alt="" src="img/picture3.jpg">
                <div class="flex-caption">
                    <div class="flex-box1">
                        <p class="title1">LEADER</p>
                        <p class="title2">IN THE WORLD OF BUSINESS</p>
                    </div>
                    <div class="flex-box2">
                        <p>Mes cuml dia sed in lacus ut eniascet etor ingerto aliiqt es sitet amet eismod ictorut ligulate ameti dapibus ticdu nt</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>                            
    <!--content-->
    <div class="container padBot">
        <div class="row">
             <section class="span12 border1">
                <div class="row">
                    <article class="span7">
                        <h2><span>Welcome to our site</span></h2>
                        <h4>we are one of the largest providers of the leading investment strategies.</h4>
                        <p class="margBot">Mes cuml dia sed in lacus ut eniascet etor ingerto aliiqt es sitet amet eismod ictorut ligulate ameti dapi licdu nt mtsent lusto dolor ltisim comme. Mes cuml dia sed inertio lacus ut eniascet ingerto aliiqt sit eism odictor. Ut ligulate ameti dapibus ticdu nt mtsent dolorltiissim.Mes cuml dia sed in lacus ut enia etor ingerto dolore ipsum commete mtsent aliiqt. Es sitet amet eismod ictor ut ligulate ameti dapibusti mtsent lusto dolor ltisim comme. Mes cuml dia sed inertio lacus ut eniascet ingerto.</p>
                        <a href="#" class="btn btn-info">Read More</a>
                    </article>
                    <article class="span5">
                        <h3>featured services</h3>
                        <ul class="list5">
                            <li>
                                <figure><img alt="" src="img/page1_pic1.jpg"></figure>
                                <div class="extra-wrap">
                                    <a href="#">investment consulting</a>
                                    <p>Mes cuml dia sed in lacus ut eniascet etor ingerto aliiqt es sitet amet eismod ictorut ligulate ameti dapibu licdu nut.</p>
                                </div>
                            </li>
                            <li>
                                <figure><img alt="" src="img/page1_pic2.jpg"></figure>
                                <div class="extra-wrap">
                                    <a href="#">business analytics</a>
                                    <p>Mes cuml dia sed in lacus ut eniascet etor ingerto aliiqt es sitet amet eismod ictorut ligulate ameti dapibu licdu nut.</p>
                                </div>
                            </li>
                            <li>
                                <figure><img alt="" src="img/page1_pic3.jpg"></figure>
                                <div class="extra-wrap">
                                    <a href="#">broker comparison</a>
                                    <p>Mes cuml dia sed in lacus ut eniascet etor ingerto aliiqt es sitet amet eismod ictorut ligulate ameti dapibu licdu nut.</p>
                                </div>
                            </li>
                        </ul>
                    </article>
                </div>
             </section>
             <article class="span12 slogan">
                <div class="clearfix">
                    <h2>Progressive business thinking</h2>
                    <h5><span>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit Donec quis.</span></h5>
                </div>
                <a href="#" class="btn btn-primary pull-right">Hire US!</a>
             </article>
             <section class="span12">
                <div class="row">
                    <article class="span8">
                        <h3>Recent Posts</h3>
                        <div class="row">
                            <div class="thumb-pad6 span4">
                                <div class="thumbnail">
                                    <figure><div class="badge"><time datetime="2013-01-01">21</time><p>APR</p></div><img src="img/page1_pic4.jpg" alt=""></figure>
                                    <div class="caption">
                                        <a href="#">massa Dolore Ipsum veliter</a>
                                        <h6>posted by jack moose</h6>
                                        <p>Morbi tempor quam vel massa adipiscing ute cursuscongu  pelle ntesque nisel. Veliter comte modo velultrice conseq.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="thumb-pad6 span4">
                                <div class="thumbnail">
                                    <figure><div class="badge"><time datetime="2013-01-01">21</time><p>APR</p></div><img src="img/page1_pic5.jpg" alt=""></figure>
                                    <div class="caption">
                                        <a href="#">massa Dolore Ipsum veliter</a>
                                        <h6>posted by jack moose</h6>
                                        <p>Morbi tempor quam vel massa adipiscing ute cursuscongu  pelle ntesque nisel. Veliter comte modo velultrice conseq.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="span4 testim-box">
                        <h3>Testimonials</h3>
                        <div class="list_carousel responsive clearfix">
                            <ul id="foo">
                                <li>
                                    <figure><img alt="" src="img/page1_pic6.jpg"></figure>
                                    <div class="caption">
                                        <h5>Lora Mendol</h5>
                                        <h6>chromo org</h6>
                                        <p>Morbi tempor quam vel massa adipiscing ute cursus.</p>
                                    </div>
                                    <p>Morbi tempor quam vel massa adipiscing cursus mi congue pelle ntesque nisel. Veliter comtmodo velultrices vel ipsum conseq.</p>
                                </li>
                                <li>
                                    <figure><img alt="" src="img/page1_pic7.jpg"></figure>
                                    <div class="caption">
                                        <h5>Jack Moose</h5>
                                        <h6>chromo org</h6>
                                        <p>Nam tempor quam vel massa adipiscing ute cursus.</p>
                                    </div>
                                    <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque.</p>
                                </li>
                            </ul>
                                <a id="prev" class="prev" href="#"></a>
                                <a id="next" class="next" href="#"></a>
                        </div>
                    </article>
                </div>
             </section>
         </div>
     </div>
</div>
									]]></Design>
  <Master>spantech_master</Master>
  <Hash>e20c0a4ad8d34be878098ec1a1998ff9</Hash>
</Template>