-- Files
#*.bak.*
#*.bak
*.dll
*.exe
*.ldf
*.log
*.mdf
*.msi
*.pdb
*.resharper
*.sqlite
*.typemock
# used by the SPDisposeCheck VS add-in
solution.disposechecksettings
 
#-- OS Files
*.DS_Store
[Tt]humbs.db
 
#NuGet
packages/
*.nupkg

#-- Directories
App_Data
[Bb]in/
[Oo]bj/
_ReSharper.*/
tmp/
/TEMP/
/temp/
.svn/
.git/
!/lib
# mstest test results
TestResults
 
#-- Microsoft Visual Studio
*.sln.cache
*.suo
*.user
*.vspscc
*.vssscc
 
#-- MonoDevelop specific
*.pidb
*.userprefs
*.usertasks
