<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>projects</Name>
  <Alias>projects</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "spantech_master.cshtml";
}

<!--content-->
    <div class="container padBot">
        <div class="row">
            <section class="span12">
                <h3 class="margBot3">featured projects</h3>
                    <div class="row">
                         <article class="span4 box4">
                            <div class="thumb-pad8 maxheight">
                                <div class="thumbnail">
                                    <figure><a href="img/img1.jpg"><img src="img/page3_pic1.jpg" alt=""></a></figure>
                                    <div class="caption">
                                        <a href="#">project name #1</a>
                                        <p>Aenean nony hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.</p>
                                    </div>
                                </div>
                                <span></span>
                                <strong></strong>
                            </div>
                         </article>
                         <article class="span4 box4">
                            <div class="thumb-pad8 maxheight">
                                <div class="thumbnail">
                                    <figure><a href="img/img2.jpg"><img src="img/page3_pic2.jpg" alt=""></a></figure>
                                    <div class="caption">
                                        <a href="#">project name #2</a>
                                        <p>Aenean nony hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.</p>
                                    </div>
                                </div>
                                <span></span>
                                <strong></strong>
                            </div>
                         </article>
                         <article class="span4 box4">
                            <div class="thumb-pad8 maxheight">
                                <div class="thumbnail">
                                    <figure><a href="img/img3.jpg"><img src="img/page3_pic3.jpg" alt=""></a></figure>
                                    <div class="caption">
                                        <a href="#">project name #3</a>
                                        <p>Aenean nony hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.</p>
                                    </div>
                                </div>
                                <span></span>
                                <strong></strong>
                            </div>
                         </article>
                         <article class="span4 box4">
                            <div class="thumb-pad8 maxheight">
                                <div class="thumbnail">
                                    <figure><a href="img/img4.jpg"><img src="img/page3_pic4.jpg" alt=""></a></figure>
                                    <div class="caption">
                                        <a href="#">project name #4</a>
                                        <p>Aenean nony hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.</p>
                                    </div>
                                </div>
                                <span></span>
                                <strong></strong>
                            </div>
                         </article>
                         <article class="span4 box4">
                            <div class="thumb-pad8 maxheight">
                                <div class="thumbnail">
                                    <figure><a href="img/img5.jpg"><img src="img/page3_pic5.jpg" alt=""></a></figure>
                                    <div class="caption">
                                        <a href="#">project name #5</a>
                                        <p>Aenean nony hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.</p>
                                    </div>
                                </div>
                                <span></span>
                                <strong></strong>
                            </div>
                         </article>
                         <article class="span4 box4">
                            <div class="thumb-pad8 maxheight">
                                <div class="thumbnail">
                                    <figure><a href="img/img6.jpg"><img src="img/page3_pic6.jpg" alt=""></a></figure>
                                    <div class="caption">
                                        <a href="#">project name #6</a>
                                        <p>Aenean nony hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.</p>
                                    </div>
                                </div>
                                <span></span>
                                <strong></strong>
                            </div>
                         </article>
                         <article class="span4 box4">
                            <div class="thumb-pad8 maxheight">
                                <div class="thumbnail">
                                    <figure><a href="img/img7.jpg"><img src="img/page3_pic7.jpg" alt=""></a></figure>
                                    <div class="caption">
                                        <a href="#">project name #7</a>
                                        <p>Aenean nony hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.</p>
                                    </div>
                                </div>
                                <span></span>
                                <strong></strong>
                            </div>
                         </article>
                         <article class="span4 box4">
                            <div class="thumb-pad8 maxheight">
                                <div class="thumbnail">
                                    <figure><a href="img/img8.jpg"><img src="img/page3_pic8.jpg" alt=""></a></figure>
                                    <div class="caption">
                                        <a href="#">project name #8</a>
                                        <p>Aenean nony hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.</p>
                                    </div>
                                </div>
                                <span></span>
                                <strong></strong>
                            </div>
                         </article>
                     </div>
             </section>
         </div>
    </div>
</div>]]></Design>
  <Master>spantech_master</Master>
  <Hash>e122bc4e2fc76e9df401e6a4885ec4b7</Hash>
</Template>