<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>content</Name>
  <Alias>content</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "spantech_master.cshtml";
}

<div class="container padBot">
@Umbraco.Field("bodyText")
</div>]]></Design>
  <Master>spantech_master</Master>
  <Hash>6858851eee0e05f318897984757b59dc</Hash>
</Template>