<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>contact</Name>
  <Alias>contact</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "spantech_master.cshtml";
}

<!--content-->
<div class="container padBot"> 
        <div class="row">
        <article class="span12">
            <figure class="map">
                <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
            </figure>
        </article>
        <article class="span4">
            <h3>find us</h3>
            <div class="info">
                <p class="margBot6">8901 Marmora Road,<br>Glasgow, D04 89GR.</p>
                <p><em>Freephone:</em>+1 800 559 6580</p>
                <p><em>Telephone:</em>+1 800 603 6035</p>
                <p><em>FAX:</em>+1 800 889 9898</p>
                <p>E-mail: <a href="#">mail@demolink.org</a></p>                                                                            
            </div>
        </article>
        <article class="span8">
            <h3>get in touch</h3>
            <form id="contact-form">
                <div class="success"> Contact form submitted! <strong>We will be in touch soon.</strong> </div>
                <fieldset>
                    <div>
                        <div class="form-div-1">
                            <label class="name">
                            <input type="text" value="Name*:">
                            <br>
                            <span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span> </label>
                        </div>
                        <div class="form-div-2">
                            <label class="email">
                            <input type="email" value="Email*:">
                            <br>
                            <span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span> </label>
                        </div>
                        <div class="form-div-3">
                            <label class="phone notRequired">
                            <input type="tel" value="Phone:">
                            <br>
                            <span class="error">*This is not a valid phone number.</span> <span class="empty">*This field is required.</span> </label>
                        </div>
                    </div>
                    <div>
                        <label class="message">
                        <textarea>Message*:</textarea>
                        <br>
                        <span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span>
                        </label>
                    </div>
                    <div class="btns">
                        <a href="#" data-type="submit" class="btn btn-info">send message</a>
                        <p>*Required fields</p>
                    </div>
                </fieldset>
            </form>
        </article>
        </div>
  </div>
</div>]]></Design>
  <Master>spantech_master</Master>
  <Hash>2877397e82b94a78cad59c45d2dd9c51</Hash>
</Template>