<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>about</Name>
  <Alias>about</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "spantech_master.cshtml";
}

<!--content-->
    <div class="container padBot">
        <div class="row">
            <section class="span12 margBot">
                    <div class="row">
                         <article class="span4">
                            <h3>who we are</h3>
                            <div class="thumb-pad4">
                                <div class="thumbnail">
                                    <figure><img src="img/page2_pic1.jpg" alt=""></figure>
                                    <div class="caption">
										<p>@Umbraco.Field("whoAreWe")</p>
                                        <p>Mes cuml dia sed in lacus ut eniascet etor ingerto aliiqt es sitet amet eismod ictorut ligulate ameti dapi licdu nt mtsent lusto dolor ltisim comme. Mes cuml dia sed inertio lacus ut eniascet ingerto aliiqt sit eism odictor. Ut ligulate ameti dapibus ticdu nt mtsent dolorltiissim.</p>
                                        <p>Mes cuml dia sed in lacus ut enia etor ingerto dolore ipsum commete mtsent aliiqt. Es sitet amet eismod ictor ut ligulate ameti dapibusti mtsent lusto dolor ltisim comme. Mes cuml dia sed inertio lacus ut eniascet ingerto.</p>
                                    </div>
                                </div>
                            </div>
                         </article>
                         <article class="span4">
                            <h3>our history</h3>
                            <ul class="list2">
                                <li>
                                    <div class="date"><time datetime="2013-01-01">2003 -</time></div>
                                    <div class="extra-wrap">
                                        <p>Mes cuml dia sed in lacus ut eniascet etor ingerto aliiqt es sitet amet eismod ictorut ligulate ameti dapilicdu nt mtsent lusto dolor ltisim comme. Mes cuml dia.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="date"><time datetime="2013-01-01">2005 -</time></div>
                                    <div class="extra-wrap">
                                        <p>Amet eismod ictorut ligulate ameti dapilicdu nt mtsent lusto dolor ltisim comme. Mes cuml dia. sed inertio lacus ut eniascet ingerto.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="date"><time datetime="2013-01-01">2007 -</time></div>
                                    <div class="extra-wrap">
                                        <p>Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="date"><time datetime="2013-01-01">2009 -</time></div>
                                    <div class="extra-wrap">
                                        <p>Donec accumsan malesuada orci. Donec sit amet eros. Lorem dolor sit amet, consectetuer adipiscing elit. Mauris fermentum.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="date"><time datetime="2013-01-01">2012 -</time></div>
                                    <div class="extra-wrap">
                                        <p>Donec sit amet eros. Lorem dolor sit amet, consetetuer adipiscing elit. Mauris fermentum. dictum magna. Sed laoreet aliquam leo.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="date"><time datetime="2013-01-01">2013 -</time></div>
                                    <div class="extra-wrap">
                                        <p>Lorem dolor sit amet, consetetuer adipiscing elit. Mauris fermentum dictum magna.</p>
                                    </div>
                                </li>
                            </ul>
                         </article>
                         <article class="span4">
                            <h3 class="margBot5">job opportunities</h3>
                            <h6>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</h6>
                            <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>
                            <ul class="list1">
                                <li><a href="#">OMNIS ISTEt ERRORPTAT</a></li>
                                <li><a href="#">EM ACCUSANTIUM DOLOR</a></li>
                                <li><a href="#">EMQUE LAUDANTIUM TOTAM</a></li>
                                <li><a href="#">EMEAQUE IPSA QUAE ABILLI</a></li>
                                <li><a href="#">Aenean nonummy hendrerit</a></li>
                                <li><a href="#">mauris Phasellus porta</a></li>
                            </ul>
                            <p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque pens et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</p>
                         </article>
                     </div>
             </section>
             <section class="span12 margBot">
                <h3>the best of professionals</h3>
                <div class="row">
                    <article class="span3 box-thumb1 maxheight">
                        <div class="thumb-pad2">
                            <div class="thumbnail">
                                <figure><img src="img/page2_pic2.jpg" alt=""></figure>
                                <div class="caption">
                                    <a href="#">Mark Johnson</a>
                                    <p>Morbi tempor quam vel massa adipiscing ute cursuscu  pelle ntesque nisel. Veliter comte modo velultrice conseq.</p>
                                </div>
                            </div>
                        </div>
                    </article> 
                    <article class="span3 box-thumb1 maxheight">
                        <div class="thumb-pad2">
                            <div class="thumbnail">
                                <figure><img src="img/page2_pic3.jpg" alt=""></figure>
                                <div class="caption">
                                    <a href="#">Bradley Grosh</a>
                                    <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in.</p>
                                </div>
                            </div>
                        </div>
                    </article> 
                    <article class="span3 box-thumb1 maxheight">
                        <div class="thumb-pad2">
                            <div class="thumbnail">
                                <figure><img src="img/page2_pic4.jpg" alt=""></figure>
                                <div class="caption">
                                    <a href="#">Patrick Pool</a>
                                    <p>Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus.</p>
                                </div>
                            </div>
                        </div>
                    </article> 
                    <article class="span3 box-thumb1 maxheight">
                        <div class="thumb-pad2">
                            <div class="thumbnail">
                                <figure><img src="img/page2_pic5.jpg" alt=""></figure>
                                <div class="caption">
                                    <a href="#">John McCoist</a>
                                    <p>Aenean nonu hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.</p>
                                </div>
                            </div>
                        </div>
                    </article> 
                </div>
             </section>
             <section class="span12">
                <div class="row">
                    <article class="span4">
                        <h3>advantages</h3>
                        <ul class="list3">
                            <li>
                                <div class="icon"><img src="img/page2_icon1.png" alt=""></div>
                                <div class="extra-wrap">
                                    <p>Morbi tempor quam vel massa adipiscing ute cursuscu  pelle ntesque nisel. Veliter comte modo velultrice conseq.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><img src="img/page2_icon2.png" alt=""></div>
                                <div class="extra-wrap">
                                    <p>Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><img src="img/page2_icon3.png" alt=""></div>
                                <div class="extra-wrap">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pelleesque sed dolor. Aliquam congue fermentum nisl.</p>
                                </div>
                            </li>
                        </ul>
                    </article>
                    <article class="span3">
                        <h3 class="margBot6">skills</h3>
                        <p>Morbi tempor quam vel massa adipiscing ute cursuscu  pelle ntesque nisel. Veliter comte modo velultrice conseq.</p>
                        <ul class="list1">
                            <li><a href="#">OMNIS ISTEt ERRORPTAT</a></li>
                            <li><a href="#">EM ACCUSANTIUM DOLOR</a></li>
                            <li><a href="#">EMQUE LAUDANTIUM TOTAM</a></li>
                            <li><a href="#">EMEAQUE IPSA QUAE ABILLI</a></li>
                            <li><a href="#">Aenean nonummy hendrerit</a></li>
                            <li><a href="#">mauris Phasellus porta</a></li>
                        </ul>
                    </article>
                    <article class="span5">
                        <h3>expert advice</h3>
                        <div class="thumb-pad7">
                            <div class="thumbnail">
                                <figure><img src="img/page2_pic6.jpg" alt=""></figure>
                                <div class="caption">
                                    <h6>Jessica Priston:</h6>
                                    <p>&Prime;Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus.</p>
                                    <p>Et ultrices pre cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac...&Prime;</p>
                                    <div class="name">
                                        <p>Jessica Priston</p>
                                        <span>Manager, NYC</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
             </section>
         </div>
    </div>
</div>]]></Design>
  <Master>spantech_master</Master>
  <Hash>a4a2c007a9ae77a6568e5937c1f96235</Hash>
</Template>