@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "spantech_master.cshtml";
}


 <!--content-->
	 <div class="container padBot">
		 <div class="row">
			<article class="span12">
				 <h2 class="title-margin margTop">Search result:</h2>
				 <div id="search-results"></div>
			</article>
		</div>
    </div>