<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Navigation</name>
  <alias>Navigation</alias>
  <scriptType />
  <scriptAssembly />
  <scriptingFile>navigation.cshtml</scriptingFile>
  <xslt />
  <useInEditor>False</useInEditor>
  <dontRender>False</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
  <Hash>20a94adcb91cc4e2902b47d3407dbd80</Hash>
</macro>