<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Navp</name>
  <alias>Navp</alias>
  <scriptType />
  <scriptAssembly />
  <scriptingFile>~/Views/MacroPartials/navp.cshtml</scriptingFile>
  <xslt />
  <useInEditor>False</useInEditor>
  <dontRender>False</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
  <Hash>a61696621e68192d1bd7f1d8e26cad56</Hash>
</macro>