<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>blog</Name>
  <Alias>blog</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "spantech_master.cshtml";
}


<!--content-->
<div class="container padBot">
        <div class="row">
            <article class="span9">
                    <h3>recent posts</h3>
                    <ul class="list4">
                        <li>
                            <div class="clearfix">
                                <div class="badge"><p><time datetime="2013-01-01">23</time></p><p class="numb">may</p></div>
                                <div class="extra-wrap">
                                    <h5>Etiam cursus leo vel metus</h5>
                                    <p>Posted by&nbsp;</p><a href="#" class="pull-left">Admin</a><a href="#" class="pull-right">320 Comment(s)</a>
                                </div>
                            </div>
                            <div class="thumb-pad5">
                                <div class="thumbnail">
                                    <figure><img src="img/page4_pic1.jpg" alt=""></figure>
                                    <div class="caption">
                                        <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
                                        <a href="#" class="btn btn-info">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="clearfix">
                                <div class="badge"><p><time datetime="2013-01-01">23</time></p><p class="numb">may</p></div>
                                <div class="extra-wrap">
                                    <h5>Etiam cursus leo vel metus</h5>
                                    <p>Posted by&nbsp;</p><a href="#" class="pull-left">Admin</a><a href="#" class="pull-right">320 Comment(s)</a>
                                </div>
                            </div>
                            <div class="thumb-pad5">
                                <div class="thumbnail">
                                    <figure><img src="img/page4_pic2.jpg" alt=""></figure>
                                    <div class="caption">
                                        <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
                                        <a href="#" class="btn btn-info">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
             </article>
             <article class="span3">
                <h3 class="margBot4">categories</h3>
                <ul class="list1 margBot2">
                    <li><a href="#">OMNIS ISTEt ERRORPTAT</a></li>
                    <li><a href="#">EM ACCUSANTIUM DOLOR</a></li>
                    <li><a href="#">EMQUE LAUDANTIUM TOTAM</a></li>
                    <li><a href="#">EMEAQUE IPSA QUAE ABILLI</a></li>
                    <li><a href="#">Aenean nonummy hendrerit</a></li>
                    <li><a href="#">mauris Phasellus porta</a></li>
                    <li><a href="#">Fusce suscipit varius mi</a></li>
                    <li><a href="#">Cum sociis natoque</a></li>
                    <li><a href="#">penatibus et magnis dis</a></li>
                    <li><a href="#">parturient montes nascetur</a></li>
                    <li><a href="#">ridiculus mus Nulla dui</a></li>
                    <li><a href="#">Fusce feugiat malesuada</a></li>
                </ul>
                <h3 class="margBot4">archives</h3>
                <ul class="list1">
                    <li><a href="#">April 2013</a></li>
                    <li><a href="#">March 2013</a></li>
                    <li><a href="#">February 2013</a></li>
                    <li><a href="#">January 2013</a></li>
                    <li><a href="#">December 2012</a></li>
                    <li><a href="#">November 2012</a></li>
                    <li><a href="#">October 2012</a></li>
                    <li><a href="#">September 2012</a></li>
                    <li><a href="#">August 2012</a></li>
                    <li><a href="#">July 2012</a></li>
                </ul>
             </article>
         </div>
    </div>
</div>]]></Design>
  <Master>spantech_master</Master>
  <Hash>2ef8ef6e1352b0cc5c992355e842d0b1</Hash>
</Template>