<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>homepage</Name>
    <Alias>Homepage</Alias>
    <Icon>icon-page-add</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <Master>Page_base</Master>
    <AllowedTemplates>
      <Template>home</Template>
    </AllowedTemplates>
    <DefaultTemplate>home</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Textpage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Type>Umbraco.MediaPicker</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Global</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>12</Id>
      <Caption>Global</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>e249b95938db2a2d2a3e1d629be0b0b2</Hash>
</DocumentType>