<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>textpage</Name>
    <Alias>Textpage</Alias>
    <Icon>icon-umb-content</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Page_base</Master>
    <AllowedTemplates>
      <Template>about</Template>
      <Template>projects</Template>
      <Template>contact</Template>
      <Template>blog</Template>
      <Template>search_result</Template>
      <Template>content</Template>
    </AllowedTemplates>
    <DefaultTemplate>about</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Textpage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>13</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>14</Id>
      <Caption>Meta</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
  <Hash>08b933092660688a2975cfb32e251aad</Hash>
</DocumentType>